<main class="about shadow">
    <section class="hero">
        <h2>Welcome to my Profile</h2>
        <p>We are passionate about DEVLOPING. </p>
    </section>

    <section class="details">   
        <h2>Our Team</h2>
        <div class="team-member">
            <!-- <img src="team-member1.jpg" alt="Team Member 1"> -->
            <h3>Shahnawaz Ashraf</h3>
            <p>Co-Founder</p>
        </div>
        <div class="team-member">
            <!-- <img src="team-member2.jpg" alt="Team Member 2"> -->
            <h3>Abu Talib</h3>
            <p>Lead Developer</p>
        </div>
        <!-- Add more team members as needed -->
    </section>
</main>